<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.NoticeDao">

    <resultMap id="selectAllNotice" type="com.entity.Notice" autoMapping="true">
        <association property="account" javaType="com.entity.Account">
            <id property="id" column="bid"></id>
            <result property="name" column="bname"></result>
        </association>
    </resultMap>

    <select id="selectAll" resultMap="selectAllNotice">
        select a.*,b.id bid,b.name bname from notice a inner join account b where a.state=1
    </select>

    <select id="selectId" resultType="com.entity.Notice">
        select * from notice where id=#{id}
    </select>

    <select id="selectPage" resultMap="selectAllNotice">
        select a.*,b.id bid,b.name bname from notice a inner join account b where a.state=1 limit #{start},#{pageSize}
    </select>

    <select id="selectCondition" resultMap="selectAllNotice">
        select a.*,b.id bid,b.name bname from notice a inner join account b
        <where>
            <if test="true">
                and a.state=1
            </if>
            <if test="notice.name!=null and notice.name!=''">
                and a.name like concat('%',#{notice.name},'%')
            </if>
            <if test="notice.content!=null and notice.content!=''">
                and content like concat('%',#{notice.content},'%')
            </if>
        </where>
        limit #{start},#{pageSize}
    </select>

    <insert id="insert">
        insert into notice values (null,#{accountId},#{name},#{content},1,now())
    </insert>

    <update id="update">
        update notice set accountId=#{accountId},name=#{name},content=#{content},state=1,time=now() where id=#{id}
    </update>

    <delete id="delete">
        update notice set state=#{state} where id=#{id}
    </delete>

</mapper>