<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.PostDao">

    <sql id="sql">
        id,name,details
    </sql>

    <select id="selectAll" resultType="com.entity.Post">
        select
        <include refid="sql"></include>
        from post
    </select>

    <select id="selectId" resultType="com.entity.Post">
        select * from post where id=#{id}
    </select>

    <select id="selectPage" resultType="com.entity.Post">
        select * from post limit #{start},#{pageSize}
    </select>

    <select id="selectCondition" resultType="com.entity.Post">
        select * from post
        <where>
            <if test="post.name!=null and post.name!=''">
                and name like concat('%',#{post.name},'%')
            </if>
        </where>
        limit #{start},#{pageSize}
    </select>

    <insert id="insert">
        insert into post values (null,#{name},#{details})
    </insert>

    <update id="update">
        update post set name=#{name},details=#{details} where id=#{id}
    </update>

    <delete id="delete">
        delete from post where id=#{id}
    </delete>

</mapper>